
.navbar{
    max-width: 1260px;
    /* padding: 46px 90px 0px 90px ; */
    padding-top: 46px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #323F68;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
     /* margin-right: 134px; */
}

.logo h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

.logo img{
    width: 60px;
    height: 60px;
}

.nav-links{
    display: flex; 
   
}

.nav-links li{
    margin-right: 60px;
}

.nav-link{
    display: flex;
    gap: 48px;
    /* margin-left: 206px; */
    align-items: center;
}

 
 
 
