@import './assets/transfonter.org-20221212-191551/stylesheet.css';


:root{
  --background-color: #FAFAFE;
  --primary-color: #45979c;
  --nature-dark: #323F68;
  --secondary-color: #000000;
}




*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  list-style-type: none;
  text-decoration: none;
}

body{
  font-family: 'Jost';
  background: var(--background-color);
}



